@import "./color.scss";

// 凸起
@mixin bugle {
  border-radius: 90px;
  background: linear-gradient(315deg, #d0d3dc, #f7faff);
  box-shadow: $blackShadow, $whiteShadow;
}

// 凹陷
@mixin hollow {
  box-shadow: inset $blackShadow, inset $whiteShadow;
}

// flex布局居中
@mixin flexCenter($direction: column) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}
